@if (!loginPage) {
<header class="header" tuiNavigationHeader>
    <a href="/" class="logo">
        <img src="public/titan2.svg" alt="" srcset="">
    </a>
    <div class="header-buttons">
        <a href="workers" class="H3 MP-R header-button">Все сотрудники</a>
        |
        <a href="worker/create" class="H3 MP-R header-button">Создать сотрудника</a>
    </div>
    <div class="search-container">
        <app-search class="search" />
    </div>
    <button (click)="authOrLogout()" class="P MP-R admin-button">
        @if(isAuthenticated){
        <tui-icon icon="@tui.user" />
        <p>Выйти</p>
        }
        @else {
        <p>Войти</p>
        }
    </button>
</header>
}