@if (!loginPage) {
<header class="header" tuiNavigationHeader>
    <span tuiNavigationLogo [ngClass]="{'center-text': loginPage}">
        <span>{{title}}</span>
    </span>
    @if (isSearch){
        <div class="search-container">
            <app-search class="search"/>
        </div>
    }
    @else {
        <hr />
    }
    <a href="/login" class="admin-button">
        @if (user !== '') {
        <tui-icon icon="./media/account.svg" />
        <p>{{user}}</p>
        }
        @else {
        <p>Войти</p>
        }
    </a>

</header> 
   <div class="office-navigation">
        <a href="/" class="navigation-text">
            <p>На Главную</p>
        </a>
        <a (click)="goBack()" class="navigation-text">
            <p>Назад</p>
        </a>
        <hr class="text-separator">
        <a href="/" class="navigation-text">
            <p>Поиск по офису</p>
        </a>
        <a href="/" class="navigation-text">
            <p>Фильтр</p>
        </a>
        <hr class="text-separator">
        <a href="/" class="navigation-text">
            <p>Ещё...</p>
        </a>
    </div>
}