.container {
    display: flex;
    flex-direction: row;
    margin: 5rem 12.5rem;
    gap: 75px;
    /* Расстояние между кнопками */
    justify-content: center;
    /* Выравнивание по горизонтали */
    align-items: flex-start;
    /* Выравнивание по вертикали */
    justify-content: flex-start;
    flex-wrap: wrap;
}
