@import '../../styles/font.css';

a {
    height: var(--height);
    width: 20rem;
    text-decoration: none;
}

.container {
    margin-top: 5.6rem;
    height: var(--height);
    width: 20rem;
    padding: 4rem 2rem;
    background: var(--bg-color);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 56px;
    transition: 0.3s;
}

.container:hover {
    background: var(--hover-color);
    
}

.title {
    color: white;
    font-size: 40px;
    font-family: 'RockStar-eb';
    font-weight: 800;
    word-wrap: break-word;
}

.description {
    width: 332.06px;
    height: 275.48px;
    color: white;
    font-size: 20px;
    font-family: 'RockStar-sb';
    font-weight: 600;
    word-wrap: break-word;
}
