# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/

# NuGet Packages
*.nupkg
*.snupkg
packages/

# Visual Studio Code
.vscode/

# Rider
.idea/

# Logs
*.log

# Temporary files
*.tmp

obj/

# Игнорировать папку bin
bin/

# Игнорировать все .exe файлы
*.exe

# Игнорировать все .dll файлы
*.dll

# Игнорировать все .pdb файлы
*.pdb

# Игнорировать все .suo файлы
*.suo

# Игнорировать все .user файлы
*.user

# Игнорировать все .userosscache файлы
*.userosscache

# Игнорировать все .sln.docstates файлы
*.sln.docstates

# Игнорировать папку .vs
.vs/