@import "../../styles/font.css";

.search-bar input {
  width: 46rem;
  height: 100%;
  background: var(--tui-background-accent-1);
  border-radius: var(--tui-radius-m);
  font: var(--tui-font-text-m);
  padding: var(--tui-padding-l);
  color: black;
  background-color: white;
}
