.container {
    display: flex;
    flex-direction: column;
    width: 100rem;
    gap: 20px;
    padding: 30px 150px;
}

.title {
    width: 16rem;
}

.instruction {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
