<div class="container">
  <span class="H2 MP-R">Список всех сотрудников</span>
  <span class="instruction H3 MP-R"
    >ФИО / Должность / Организация / Статус</span
  >
  @for (item of workers; track $index) {
    <div class="worker click" (click)="openWorker(item.idWorker)">
      <span class="worker-text P MP-R">{{ item.fullWorkerName }}</span>
      <span class="worker-text P MP-R">{{ item.postName }}</span>
      <span class="worker-text P MP-R">{{ item.departmentName }}</span>
      <span class="worker-text P MP-R">{{ item.statusName }}</span>
    </div>
  }
</div>
