.employe {
  display: flex;
  width: 24rem;
  height: 9rem;
  flex-direction: column;
  gap: 10px;
  border-radius: 1.875rem;
  background: #e6e6e6;
  padding-left: 30px;
  font-family: 'MyriadPro-r';
  transition: 0.3s;

  &:hover {
    transform: scale(1.1);
  }
}

.circle {
  height: 18px;
  padding-top: 10px;
  padding-left: 330px;
}

.delete {
  height: 18px;
  padding-left: 347px;
  padding-top: 106px;
  position: absolute;
}

.circle-free {
  background-color: green;
}

.circle-occupied {
  background-color: red;
  /* или любой другой цвет, который вы предпочитаете для занятого состояния */
}