<div class="card" tuiAppearance="floating" tuiCardLarge>
    <div>
        <div class="card-header" tuiHeader>
            <h2 tuiTitle>{{title}}</h2>
        </div>
    
        <section class="card-container">
            <div class="card-info address">{{address}}<br>
                <span>{{city}}</span><!--{{address}} --></div>
            <hr>
            <div class="card-info">Свободных мест: 30 / 100</div>
            <div class="card-info">Плотность посадки: 75% / 100%</div>
        </section>
    </div>

    <div class="card-footer">
        <img src="{{image}}" alt="Офис">
        <a (click)="goToOffice(id())" iconEnd="@tui.chevron-right" appearance="outline" size="xl" tuiButton>
            К офису
        </a>
    </div>
</div>