@import '../../styles/font.css';

$card-width: 20.25rem;
$card-height: 30.75rem;
$card-padding: 2rem 1.625rem;
$card-radius: 1.875rem;
$card-background: #3379B8;
$card-shadow: 4px 4px 8px 0px rgba(11, 45, 65, 0.21);
$card-gap: 1rem;
$card-text-color: white;

[tuiCardLarge][data-space]:not([tuiCell], [tuiHeader], [tuiForm]) {
    flex-direction: column;
    gap: $card-gap;
    align-items: flex-start;
}

.card {
    display: flex;
    width: $card-width;
    height: $card-height;
    padding: $card-padding;
    flex-direction: column;
    align-items: flex-start;
    border-radius: $card-radius;
    background: $card-background;
    box-shadow: $card-shadow;
    flex: 1;
    --t-space: $card-gap;
    --tui-font-heading-5: 2.5rem / 1.75rem "MyriadPro-r";
    --tui-text-primary: $card-text-color;
    --tui-text-action: $card-text-color;
    --tui-border-normal: $card-text-color;

    .scroll-card {
        overflow-y: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .card-header {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        padding-bottom: 15px;

        .name {
            color: $card-text-color;
        }
    }

    .card-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.8125rem;

        hr {
            display: flex;
            flex-direction: column;
            gap: 0.625rem;
            width: 11.5rem;
            height: 0.0625rem;
            background: rgba(255, 255, 255, 0.30);
            margin-left: 0;
        }

        .card-info {
            font-style: normal;
            line-height: normal;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
        }
    }

    .card-footer {
        display: flex;
        flex-direction: column;
        width: 100%;

        img {
            margin-bottom: 1rem;
            height: 9.625rem;
            align-self: stretch;
            border-radius: $card-radius;
            background: lightgray 50% / cover no-repeat;
            filter: blur(0px);
        }

        button {
            width: 100%;
        }
    }
}

[tuiCardLarge][data-space]:not([tuiCell], [tuiHeader], [tuiForm])>:last-child:not([tuiCell]) {
    margin-top: 0;
}