<div class="card" tuiAppearance="floating" tuiCardLarge>
    <div class="scroll-card">
        <div class="card-header" tuiHeader>
            <h2 tuiTitle>{{data.officeName}}</h2>
        </div>

        <section class="card-container">
            <div class="card-info address">
                {{data.city}}<br>
                <span>{{data.address}}</span>
            </div>
            <hr>
            <div class="card-info">Свободных мест: {{data.totalWorkspace - data.occupiedWorkspaces}} /
                {{data.totalWorkspace}}</div>
            <div class="card-info">Плотность посадки: {{data.density}} м²</div>
        </section>
    </div>

    <div class="card-footer">
        <img src="{{data.imageUrl}}" alt="Офис">
        <a (click)="goToOffice(id())" iconEnd="@tui.chevron-right" appearance="outline" size="xl" tuiButton>
            К офису
        </a>
    </div>
</div>