@import "../../../styles/font.css";

svg {
  position: absolute;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 5rem 5rem;
  gap: 75px;
  justify-content: center;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.office-info {
  display: inline-flex;
  padding: 2.3125rem 2rem 14.1875rem 2rem;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  background: white;
  border-radius: 1.875rem;
  width: 15rem;
}

.office-image {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  padding-left: 20rem;
  padding-right: 20rem;
}

.office-report {
  display: inline-flex;
  padding: 2.3125rem 2rem 14.1875rem 2rem;
  flex-direction: column;
  align-items: center;
  gap: 2.9375rem;
  background: white;
  border-radius: 1.875rem;
  width: 15rem;
}

.info {
  font-family: 'RockStar-sb';
  text-align: left;
}
