<div class="worker-info H3 MP-R">Информация о сотруднике</div>
<form class="container" [formGroup]="form">
  <span class="H3 MP-R">Данные сотрудника</span>
  <input type="hidden" formControlName="statusWorkerId">
  <input type="hidden" formControlName="workerId">
  <tui-input class="H2 MP-SB custom-input" formControlName="worker">
    Работник:
    <input tuiTextfieldLegacy />
  </tui-input>
  <!-- Должность -->
  <input type="hidden" formControlName="postId">
  <tui-select class="P MP-R custom-input" tuiTextfieldSize="l" formControlName="post">
    Должность
    <cdk-virtual-scroll-viewport *tuiDataList appendOnly tuiScrollable class="scroll" [itemSize]="3">
      <tui-data-list>
        <button *cdkVirtualFor="let item of posts" tuiOption type="button" [value]="item.name" id="{{item.idPost}}">
          {{item.name}}
        </button>
      </tui-data-list>
    </cdk-virtual-scroll-viewport>
  </tui-select>
  <!-- Организация -->
  <input type="hidden" formControlName="departmentId">
  <tui-select class="P MP-R custom-input" tuiTextfieldSize="l" formControlName="department">
    Организация
    <cdk-virtual-scroll-viewport *tuiDataList appendOnly tuiScrollable class="scroll" [itemSize]="3">
      <tui-data-list>
        <button *cdkVirtualFor="let item of departments" tuiOption type="button" [value]="item.name"
          id="{{item.idDepartment}}">
          {{item.name}}
        </button>
      </tui-data-list>
    </cdk-virtual-scroll-viewport>
  </tui-select>
  <!-- Статус -->
  <input type="hidden" formControlName="statusId">
  <tui-select class="P MP-R custom-input" tuiTextfieldSize="l" formControlName="status">
    Статус
    <cdk-virtual-scroll-viewport *tuiDataList appendOnly tuiScrollable class="scroll" [itemSize]="3">
      <tui-data-list>
        <button *cdkVirtualFor="let item of workerStatusTypes" tuiOption type="button" [value]="item.name"
          id="{{item.idStatus}}">
          {{item.name}}
        </button>
      </tui-data-list>
    </cdk-virtual-scroll-viewport>
  </tui-select>
  <div class="button-container">
    <span class="P MP-R submit click" (click)="onSubmit()">Сохранить</span>
    <span class="P MP-R clear click">Очистить </span>
  </div>
</form>