<div class="worker-info H3 MP-R">Информация о сотруднике</div>
<div class="container">
    <span class="H3 MP-R">Данные сотрудника</span>
    <tui-input class="H2 MP-SB custom-input" formControlName="firstName">
        Работник:
        <input tuiTextfieldLegacy />
      </tui-input>
      <tui-input class="H2 MP-SB custom-input" formControlName="position">
        Рабочее место:
        <input tuiTextfieldLegacy />
      </tui-input>
      <tui-input class="H2 MP-SB custom-input" formControlName="position">
        Должность:
        <input tuiTextfieldLegacy />
      </tui-input>
      <tui-input class="H2 MP-SB custom-input" formControlName="organization">
        Организация:
        <input tuiTextfieldLegacy />
      </tui-input>
      <div class="button-container">
        <span class="P MP-R submit"> Сохранить </span>
        <span class="P MP-R clear">Очистить </span>
      </div>
</div>