<div class="heading">
  <span class="MP-R H3">Информация о кабинете</span>
  <div class="heading__info">
    <span class="MP-R H3">{{ data.name }}</span>
    <span class="H3 MP-R">Занято 2 места из 3</span>
  </div>
</div>
<div class="container">
  <div class="employes">
    <span class="H3 MP-R workspace-edit">{{ isEditMode ? 'Редактирование кабинета' : '' }}</span>
    <tui-scrollbar class="box">
      <div class="content">
        @for (item of workspaces; track $index) {
        <worker [currentWorkspace]="item" [isEdit]="isEditMode" (workerClicked)="onWorkerClicked($event)"></worker>
        }
      </div>
    </tui-scrollbar>
    <span class="P MP-R edit-mode click" (click)="toggleEditMode()">
      {{ isEditMode ? 'Отменить редактирование' : 'Режим редактирования' }}
    </span>
  </div>
  <div class="workspace">
    <form [formGroup]="form">
      <div class="workspase-worker">
        <input type="hidden" formControlName="idWorkspace">
        <input type="hidden" formControlName="idStatusWorkspace">
        <span class="H3 MP-R workspace-name">Рабочее место</span>
        <span class="P MP-R employes-data">Данные сотрудника</span>
        <!-- Работник -->
        <tui-select class="P MP-R custom-select" tuiTextfieldSize="m" formControlName="worker">
          Работник
          <cdk-virtual-scroll-viewport *tuiDataList appendOnly tuiScrollable class="scroll" [itemSize]="3">
            <tui-data-list>
              <button *cdkVirtualFor="let item of workers" tuiOption type="button" [value]="item.fullWorkerName"
                [id]="item.idWorker">
                {{item.fullWorkerName}}
              </button>
            </tui-data-list>
          </cdk-virtual-scroll-viewport>
        </tui-select>
        <!-- Должность -->
        <tui-select class="P MP-R custom-select" tuiTextfieldSize="m" formControlName="post">
          Должность
          <cdk-virtual-scroll-viewport *tuiDataList appendOnly tuiScrollable class="scroll" [itemSize]="3">
            <tui-data-list>
              <button *cdkVirtualFor="let item of posts" tuiOption type="button" [value]="item.name"
                id="{{item.idPost}}">
                {{item.name}}
              </button>
            </tui-data-list>
          </cdk-virtual-scroll-viewport>
        </tui-select>
        <!-- Организация -->
        <tui-select class="P MP-R custom-select" tuiTextfieldSize="m" formControlName="department">
          Организация
          <cdk-virtual-scroll-viewport *tuiDataList appendOnly tuiScrollable class="scroll" [itemSize]="3">
            <tui-data-list>
              <button *cdkVirtualFor="let item of departments" tuiOption type="button" [value]="item.name"
                id="{{item.idDepartment}}">
                {{item.name}}
              </button>
            </tui-data-list>
          </cdk-virtual-scroll-viewport>
        </tui-select>
        <!-- <span class="P MP-R employes-data">Данные сотрудника</span> -->
        <!-- Статус -->
        <tui-select class="P MP-R custom-select" tuiTextfieldSize="m" formControlName="status">
          Статус
          <cdk-virtual-scroll-viewport *tuiDataList appendOnly tuiScrollable class="scroll" [itemSize]="3">
            <tui-data-list>
              <button *cdkVirtualFor="let item of workerStatusTypes" tuiOption type="button" [value]="item.name"
                id="{{item.idStatus}}">
                {{item.name}}
              </button>
            </tui-data-list>
          </cdk-virtual-scroll-viewport>
        </tui-select>
        <!-- Период -->
        <tui-input-date-range class="P MP-R custom-input" [tuiTextfieldSize]="'m'" formControlName="dateRange">
          Период
        </tui-input-date-range>
        @if (isEditMode) {
        <div class="button-container">
          <span class="P MP-R save click" (click)="saveClick()">Сохранить</span>
          <span class="P MP-R clear click" (click)="clearClick()">Очистить</span>
        </div>
        }
      </div>
    </form>
    <div class="workspace-history">
      <span class="H3 MP-R workspace-history-dates">История рабочего места</span>
      @for (item of historyWorkspace; track $index) {
      <span class="P MP-R worker-date-end">
        {{item.workerFullName}}
        {{item.startDate | date:
        'dd.MM.yyyy'}}
        /
        {{item.endDate | date: 'dd.MM.yyyy' }}</span>
      }
    </div>
  </div>
</div>