@font-face {
    font-family: 'MyriadPro-eb';
    src: url('../assets/fonts/MYRIADPRO-BOLD.OTF') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-sb';
    src: url('../assets/fonts/MYRIADPRO-SEMIBOLD.OTF') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-r';
    src: url('../assets/fonts/MYRIADPRO-REGULAR.OTF') format('opentype');
    font-weight: normal;
    font-style: normal;
}