<div class="P employe" (click)="onClick()">
  @switch (currentWorkspace.fullWorkerName) {
    @case ("") {
      <img class="circle" src="public/dot_gray.svg" />
    }
    @default {
      <img class="circle" src="public/dot_red.svg" />
    }
  }
  <span>{{currentWorkspace.workspaceName}} {{currentWorkspace.fullWorkerName}}</span>
  <span>
    @switch (currentWorkspace.fullWorkerName) {
    @case ("") {
    Свободно
    }
    @default {
    Занято
    }
    }
  </span>
  @if (isEdit) {
  <img class="delete" alt="" [src]="'@tui.trash' | tuiIcon" />
  }
  @else {
  }
</div>