.employe {
  display: flex;
  width: 24rem;
  height: 9rem;
  flex-direction: column;
  gap: 10px;
  border-radius: 1.875rem;
  background: #e6e6e6;
  padding-left: 30px;
  font-family: 'MyriadPro-r';
}

.circle {
  height: 18px;
  padding-top: 10px;
  padding-left: 330px;
}

.delete {
  height: 18px;
  padding-bottom: 10px;
  padding-left: 330px;
}
