.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 79.3vh;
}

.custom-input {
  width: 30rem;
  padding-top: 15px;
  --tui-font-text-m: normal 1rem / 0.5rem 'MyriadPro-r';
  --tui-radius-m: 0.75rem;
  --tui-text-secondary: black;
  --tui-background-accent-1: black;
  --tui-background-base: white;
  --tui-padding-l: 2rem;
}

.create-worker {
  padding-bottom: 15px;
}

.submit {
  color: #419c41;
}

.clear {
  color: #9c4141;
}

.button-container {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
}
