/* You can add global styles to this file, and also import other style files */
:root {
    --tui-background-base: #D9D9D9;
}

tui-root {
    position: relative;
    display: block;
    font: var(--tui-font-text-s);
    color: var(--tui-text-primary);
    flex: 1;
    border-image: conic-gradient(var(--tui-background-base) 0 0) fill 0 / 0 / 0 0 100vh 0;
    -webkit-tap-highlight-color: transparent;
}