.footer {
    background: linear-gradient(90deg, #0057a6 60.5%, #002240 100%);
    padding: 0.625rem 0;
    text-align: center;
    justify-content: center;
    height: 5rem;
    display: flex; /* Добавляем Flexbox */
    align-items: center; /* Выравниваем по вертикали */
  }
  
  .footer a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    /* MAIN MAIN MAIN */
    font-family: "MyriadPro-r";
    font-size: 1.125rem;
    font-style: normal;
  }
  
  .footer a:hover {
    color: #fff;
    /* MAIN MAIN MAIN */
    font-family: "MyriadPro-r";
    font-size: 1.125rem;
    font-style: normal;
  }
  